.remainingHomePageContainer{
    position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 170px;
	height: auto;
	width: 100vw;
	overflow: hidden;
}
.introContainer{
    width: 60%;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
}
.introParagraph{
    margin-bottom: 50px;
}